body {
	  text-align: center;
	  background-color: Lime;
	}

	div {
	  margin-top: 15px;
	}

	.image-section {
	  display: flex;
	  justify-content: center;
	}

	.section-style {
    border-color:yellow;
	  margin-right: 25px;
	  margin-left: 25px;
	  background-color: yellow;
	}
